# fastapi==0.115.2
# uvicorn[standard]==0.30.6
# chromadb==0.5.5
# google-generativeai==0.8.3
# langchain-text-splitters==0.2.4
# pydantic==2.9.2
# python-dotenv==1.0.1
# pdfminer.six==20240706
# lingua-language-detector==2.0.2

# langchain>=0.2.0
# langchain-community>=0.2.0
# langchain-google-genai>=0.1.0
# sqlalchemy>=2.0.0
# mysql-connector-python>=9.0.0

openai==2.9.0
langchain-openai==1.1.1